@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html,
body,
div#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
